<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sco.message.css">
    <link rel="stylesheet" href="/css/scojs.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/clientChat.js"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/sco.message.js"></script>
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p>
    <div></div>
  </body>
  </body>
</html>