doctype html
html
  head
    title e米虫圣
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/sco.message.css')
    link(rel='stylesheet', href='/css/scojs.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/clientChat.js')
    script(src='/javascripts/jquery.qqFace.js')
    script(src='/javascripts/jquery-browser.js')
    script(src='/javascripts/qqFace.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/sco.message.js')
  body
    .container
      nav.navbar.navbar-default
        .col-md-3
          .navbar-header
            a.navbar-brand(href='javascript:void(0)') 米聊
        .col-md-9.welcome
          span#spanuser
      .row
        .myinfo.col-md-1
          .mytoux
            img#userimg(src='', alt='')
            p#userid
        .clear-p.userlist.col-md-3.user-content
          ul#userListConent.clear
            // li.clear.list-m.list-h
            // .imglist.col-md-2.clear-p
            // img(src='/images/4.jpg', alt='')
            // .imglist.col-md-8.clear-p
            // h6 米虫
            // p.newstext 看到速回消息，十万火急！！！
            // .imglist.col-md-2.clear-p
            // p.time 80-07
        .chatcontent.col-md-8.clear-p
          #Chatcontent.Chatcontent
            // .messagparty
            // .imglist.userinfo.col-md-1.clear-p.tox-m
            // img(src='http://v1.qzone.cc/avatar/201308/06/14/59/52009ed09a645524.bmp%21200x200.jpg', alt='')
            //
              .imglist.userinfo.col-md-11.clear-p.postion// <p>米虫</p><span class="triangle"></span>
            // p.partyarticle 方开始觉
            // .messagmy
            // .imglist.userinfo.col-md-1.clear-p.tox-m.pull-right
            // img(src='http://v1.qzone.cc/avatar/201308/06/14/59/52009ed09a645524.bmp%21200x200.jpg', alt='')
            // .imglist.userinfo.col-md-11.clear-p.postion.pull-right
            // p.pull-right 管理员
            // // <span class="triangleright pull-right"></span>
            // p.myarticle 是的繁
          .sendcontent
            .focusinput.col-md-10.clear-p
              .btntitle
                span#emotion
                  i.fa.fa-smile-o(aria-hidden='true')
              .textarea
                textarea#msg(onkeydown='javascript:keywordsMsg(event);')
            #sendmsg.sendbtn.col-md-2.clear-p 发送
            #myModal.modal.fade(tabindex='-1')
              .modal-dialog
                .modal-content
                  .modal-header
                    h4#myModalLabel.modal-title 请设置聊天昵称
                  .modal-body
                    .form-group
                      .input-group
                        .input-group-addon 昵称
                        input#username.form-control(type='text', value='米虫', onkeydown='javascript:keywordsName(event);')
                  .modal-footer
                    input#btn-setName.btn.btn-primary(type='button', value='应用昵称')
            #setMsgToOne.modal.fade(tabindex='-1')
              .modal-dialog
                .modal-content
                  .modal-header
                    h4#myModalLabel1.modal-title
                  .modal-body
                    input#input_msgToOne.form-control(type='text', onkeydown='javascript:keywordsName1(event);')
                  .modal-footer
                    input#btn_toOne.btn.btn-primary(type='button', value='发送/Send')
