doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/sco.message.css')
    link(rel='stylesheet', href='/css/scojs.css')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/clientChat.js')
    script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='/js/sco.message.js')
  body
    block content

