/**
 * Created by beihua on 2016/8/8.
 */
*{
    list-style: none;
    font-family:"Microsoft YaHei";
}
.h4, .h5, .h6, h4, h5, h6{
    margin-top: 0;
}
.navbar{
    height: 70px;
    background-color: #008cee;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-default{
    border-color:transparent !important;
}
.navbar-brand{
    padding: 24px 50px;
    color: #fff !important;
    font-size: 22px;
}
.myinfo{
    background-color: #e4eaf4;
    padding-top: 19px;
    border-right: 1px solid #ddd;
    border-left:1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.row{
    margin-left: 0;
    margin-right:0;
}
.mytoux{
    text-align: center;
    height: 700px;
    font-size: 18px;
    font-family:"Microsoft YaHei";
}
.userlist,.chatcontent{
    height: 720px;
}
.mytoux img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.mytoux p{
    margin-top: 6px;
}

.chatcontent{
    background-color:#f8fbff;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.clear-p{
    padding-left: 0 !important;
    padding-right:0 !important;
}
.imglist img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.clear{
    overflow: hidden;
}
.userlist ul{
    padding: 0;
    margin-bottom: 0;
}
.userlist{
    background-color: #f5f9ff;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.list-m{
    padding-top: 14px !important;
    padding-left: 10px !important;
}
.list-h{
    height: 70px;
    border-bottom: 1px dashed #ddd;
}
.imglist p{
    margin: 0;
}
.newstext{
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
}
.time{
    color: #ccc;
}
.Chatcontent{
    height: 600px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #ddd;
    overflow-y: scroll;
}
.messagparty,.messagmy{
    width: 70%;
    margin-bottom: 30px;
    float: left;
}
.messagmy{
    float: right;
}
.tox-m{
    margin-top: 10px;
}
.postion{
    position: relative;
}
.partyarticle,.myarticle{
    margin: 5px 0 0 8px !important;
    letter-spacing: 1px;
    float:left;
    color:#222;
    display:inline-block;
    *display:inline; zoom:1;
    padding:5px 8px;
    border:1px solid #ddd;
    background:#eee;
    border-radius:5px;
    background-color: #fff;
    /*  background-image:-webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
     background-image:-webkit-linear-gradient(top,#4D90FE,#4787ED);
     background-image:-moz-linear-gradient(center top , #4D90FE, #4787ED);
     background-image:linear-gradient(top,#4D90FE,#4787ED); */
}
.myarticle{
    margin: 5px 8px 0 0 !important;
    letter-spacing: 1px;
    color:#fff;
    float: right;
    display:inline-block;
    *display:inline; zoom:1;
    padding:5px 8px;
    border:1px solid #38adff;
    background:#eee;
    border-radius:5px;
    background-color: #38adff;
    background-image:-webkit-gradient(linear,left top,left bottom,from(#38adff),to(#38adff));
    background-image:-webkit-linear-gradient(top,#38adff,#38adff);
    background-image:-moz-linear-gradient(center top , #38adff, #38adff);
    background-image:linear-gradient(top,#38adff,#38adff);
}
.triangle,.triangleright {
    position:absolute;
    top:50%;
    margin-top:-16px;
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
    border-bottom:8px solid #FFF;
    border-top:8px solid #FFF;
    border-left:none;
    border-right:8px solid #ddd;
}
.triangleright{
    right: 0 ;
    border-bottom:8px solid #FFF;
    border-top:8px solid #FFF;
    border-right:none;
    border-left:8px solid #38adff;
}
.sendcontent{
    height: 120px;
}
.focusinput{
    height: 120px;
    border-right: 1px solid #ddd;
}
.sendbtn{
    height: 119px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 120px;
    cursor: pointer;
}
.btntitle{
    height: 45px;
    padding-left: 20px;
}
.btntitle span{
    height: 45px;
    line-height: 45px;
    cursor: pointer;
}
.btntitle span i:hover{
    color: #666;
}
.fa{
    font-size: 22px;
    font-weight: bold;
    color: #ccc;
}
.textarea{
    height: 75px;
}
.textarea textarea{
    width: 100%;
    height: 99%;
    resize: none;
    border-color: rgba(0,0,0,0);
    background-color: #f8fbff;
    padding: 0 20px 0 20px;
}
.textarea textarea:focus {
    outline:none;
}
.user-content{
    overflow-y: scroll;
}
.welcome{
    height: 70px;
    color: #fff;
    line-height: 70px;
    text-align: right;
    font-size: 21px;
}

.comment{width:680px; margin:20px auto; position:relative; background:#fff; padding:20px 50px 50px; border:1px solid #DDD; border-radius:5px;}
.comment h3{height:28px; line-height:28px}
.com_form{width:100%; position:relative}
.input{width:99%; height:60px; border:1px solid #ccc}
.com_form p{height:28px; line-height:28px; position:relative; margin-top:10px;}
span.emotion{width:42px; height:20px; background:url(http://www.16code.com/cache/demos/user-say/img/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
span.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
#show{width:770px; margin:20px auto; background:#fff; padding:5px; border:1px solid #DDD; vertical-align:top;}

.sub_btn {
    position:absolute; right:0px; top:0;
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    color: #e8f0de;
    border: solid 1px #538312;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
    background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.sub_btn:hover {
    background: #538018;
    background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
    background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}